<%= form_for(@ques_view) do |f| %>
  <% if @ques_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ques_view.errors.count, "error") %> prohibited this ques_view from being saved:</h2>

      <ul>
      <% @ques_view.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qu_id %><br />
    <%= f.number_field :qu_id %>
  </div>
  <div class="field">
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
