<style>
  body {
  padding: 10px;
  overflow: auto;
  }
  td, th {
  padding: 10px;
  border: 1px solid #ffffff;
  }
  a {
  color: #ffffff;
  text-decoration: none;
  }
</style>
<%= will_paginate @qus %>
<table class="table">
  <tr>
    <th>Uid</th>
    <th>Text</th>
    <th>Type</th>
    <th>Views</th>
    <th>Likes</th>
    <th>Unlikes</th>
    <th>Ans</th>
    <th>Expire</th>
    <th>Expired</th>
    <th>ip</th>
    <th>Country</th>
    <th>Region</th>
    <th>City</th>
    <th>When</th>
    <th>Tags</th>
    <th></th>
    <th></th>
  </tr>

  <%
     extractor = Phrasie::Extractor.new
     @qus.each do |qu|
     tags = extractor.phrases(qu.text, :strength => 2, :occur => 1)
  %>
  <tr>
    <td><a href="<%= qus_url(:uid => qu.uid) %>"><%= qu.uid %></a></td>
    <td><a href="<%= answer_url(qu.id) %>"><%= qu.text %></a></td>
    <td><%= Qu::TYPE_NAME[qu.qu_type] %></td>
    <td><%= qu.views %></td>
    <td><%= qu.like %></td>
    <td><%= qu.unlike %></td>
    <td><%= qu.ans %></td>
    <td><%= Qu::EXPIRE_TEXT[qu.expire] %></td>
    <td><a target="_blank" href="<%= expire_qu_url(qu.id) %>"><%= Qu::EXPIRED_NAMES[qu.expired] %></a></td>
    <td><%= qu.ip %></td>
    <td><%= qu.country_name %> - <%= qu.country_code %></td>
    <td><%= qu.region_name %> - <%= qu.region_code %></td>
    <td><%= qu.city_name %> - <%= qu.latitude %> - <%= qu.longitude %></td>
    <td><%= time_ago_in_words(qu.created_at) %></td>
    <td><%= tags %></td>
    <td><%= link_to 'Edit', edit_qu_path(qu) %></td>
    <td><%= link_to 'Destroy', qu, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @qus %>
<br />

<%= link_to 'New Qu', new_qu_path %>
