<!DOCTYPE html>
<html>
<head>  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
  <meta http-equiv="content-language" content="en-us">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta http-equiv="Cache-control" content="public">
  <meta name="robots" content="all"/>
  <meta name="application-name" content="SocialShade"/>
  <link rel="canonical" href="<%= request.original_url %>" />
  <link rel="shortcut icon" href="/assets/fevicon.ico"/>  
  <meta name="copyright" content="socialshade.com"/>
  <meta name="author" content="anonymous"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= (!@title.nil?)? @title : "Open space for open minded people" %></title>
  <meta name="keywords" content="Open questions and answers, Questions, Answers"/>
  <meta name="description" content="<%= (!@desc.nil?)? @desc : 'Open space for open minded people, ask any questions to anyone. No Login Required, one of its kind platform where your browser is your login.' %>"/>
  <!-- schema.org -->
  <meta itemprop="name" content="SocialShade">
  <meta itemprop="description" content="<%= (!@desc.nil?)? @desc : 'Open space for open minded people, ask any questions to anyone. No Login Required, one of its kind platform where your browser is your login.' %>">
  <meta itemprop="image" content="">    
  <!-- twitter card -->
  <meta name="twitter:card" content="SocialShade">
  <meta name="twitter:url" content="<%= request.original_url %>">
  <meta name="twitter:description" content="<%= (!@desc.nil?)? @desc : 'Open space for open minded people, ask any questions to anyone. No Login Required, one of its kind platform where your browser is your login.' %>">
  <meta name="twitter:title" content="<%= (!@title.nil?)? @title : 'Open space for open minded people' %>">
  <meta name="twitter:image" content="/img/antisocial.jpg"> 
  <!-- facebook open graph -->
  <meta property="og:title" content="<%= (!@title.nil?)? @title : 'Open space for open minded people' %>"/>
  <meta property="og:description" content="<%= (!@desc.nil?)? @desc : 'Open space for open minded people, ask any questions to anyone. No Login Required, one of its kind platform where your browser is your login.' %>"/>
  <meta property="og:type" content="Article"/>
  <meta property="og:image" content="/img/antisocial.jpg"/>
  <meta property="og:site_name" content="SocialShade"/>    
  <meta property="og:url" content="<%= request.original_url %>"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="h-Cp-dG8AM9G4mtYj3332KCRp8CbmjtLNV3VkIItVps" />
  <% if(Rails.env.production?) %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57651558-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <% end %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    // Load the Google Transliteration API
    google.load("elements", "1", {
    packages: "transliteration"
    });
  </script>

  <% if(@mobile) %>
  <style>
    body {
      overflow: auto;
      overflow-x: hidden;
    }  
    .unchecked {
      background: url(/assets/unchecked-m.png);
      width: 30px;
      height: 30px;
    }
    .checked {
      background: url(/assets/checked-m.png);
      width: 30px;
      height: 30px;
    }
  </style>
  <% end %>

</head>
<body>
  <% if(@mobile) %>
  <div id="transLayer" style="display:none;background:rgba(255,255,255,0.8);">
    <div class="sp100"></div>    
    <div style="width:300px;margin:0px auto;">
      <img src="/assets/loading.gif"/> 
    </div>
  </div>
  <% else %>
  <div id="transLayer" style="display:none;">
    <div class="sp100"></div>    
    <% if(false) %>
    <div class="lead" style="position:fixed;bottom:90px;right:170px;">Saving Changes</div>
    <% end %>
    <img src="/assets/loading.gif" style="position:fixed;bottom:-65px;right:-80px;"/> 
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
